<div id="comment">
  <div class="card" style="width: 50rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">User Name on 1/1/2021 3:50PM</h6>
    <p class="card-text">This comment was left by another user.</p>
 </div>
