<div id="comment-buttons">
    <button type="button" class="btn-secondary update-comment" data-userid="{{userId}}" data-commentid="{{id}}">Update</button>
    <button type="button" class="btn-secondary delete-comment" data-userid="{{userId}}" data-commentid="{{id}}">Delete</button>
    <br>
    <p class="my-1" style="font-size: 10px;">Tip: Click on the comment text to edit, then click update.</p>
</div>