<main class="form-comment">
  <div class="mb-4">
    <label for="exampleFormControlTextarea1" class="form-label">Title of Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    <br>
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
    <button class="mb-3 btn btn-sm btn-primary">Update Post</button>
    <button class="mb-3 btn btn-sm btn-primary">Delete Post</button>
  </div>
</main>
