<body class="text-center">
        <h5 class="card-title new-blog-title" contenteditable="true">New Post Text Here.</h5>
        <button class="btn btn-lg btn-primary new-post" data-userid="{{usersPosts.id}}">New Post +</button>
</div>
