<body class="text-center">
  <div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">{{postData.blogContent}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Created by {{postData.post_creator.username}} on {{formatTime postData.createdAt}}</h6>
  </div>
</div>

<h5>Comments</h5>
{{> comment-user}}

{{#if logged_in}}
<div class=" my-3 form-floating">
  <textarea class="input-comment form-control new-blog-title" placeholder="new comment text" id="floatingTextarea2" style="height:10vh"></textarea>
  <label for="floatingTextarea2">New comment text...</label>
</div>

<button type="button" class="btn-primary new-comment" data-postid="{{postData.id}}">Add a Comment</button>

<script src="../js/comment-admin.js"></script>
{{/if}}