<form class="form login-form">
    <div class="mb-3">
        <label for="input-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="input-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="input-password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/login.js"></script>