<body class="text-center">
<div id="signout-main">
  <h1 class="h2 mb-3 fw-normal">You have been successfully logged out.</h1>
  <p class="mt-5 mb-3 text-muted">Ready to create a new post? <a href="./signin">Sign in here</a></p>
</main>
